.left-panel
{
	-fx-background-color: linear-gradient(to bottom right, #19116b, #034f15);
	-fx-border-width: .5px 0px .5px .5px;
	-fx-border-color: black;
}

.right-panel
{
	-fx-background-color: white;
	-fx-border-width: .5px .5px .5px 0px;
	-fx-border-color: black;
}

.logout-button
{
	-fx-background-color: white;
	-fx-background-radius: 5px;
	-fx-font-size: 16px;
	-fx-cursor: hand;
}

.logout-button:hover
{
	-fx-background-color: lightgray;
}

