.welcome-text
{
	-fx-text-fill: linear-gradient(to bottom right, #034f15, #19116b);
}

.left-panel
{
	-fx-background-color: linear-gradient(to bottom right, #19116b, #034f15);
	-fx-border-width: .5px 0px .5px .5px;
	-fx-border-color: black;
}

.right-panel
{
	-fx-background-color: white;
	-fx-border-width: .5px .5px .5px 0px;
	-fx-border-color: black;
}

.textfield
{
	-fx-background-color: #dedede;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-color: black;
	-fx-border-width: .4px; 
	-fx-font-size: 16px;
	-fx-font-family: Consolas;
}

.textfield:focused
{
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1px;
}

.login-button
{
	-fx-background-color: linear-gradient(to bottom right, #034f15, #19116b);
	-fx-background-radius: 5px;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-font-family: Consolas;
	-fx-cursor: hand;
}

.login-button:hover
{
	-fx-background-color: linear-gradient(to bottom right, #003b01, #040057);
}

.sign-up-button
{
	-fx-background-color: transparent;
	-fx-text-fill: blue;
	-fx-font-size: 12px;
	-fx-font-family: Consolas;
	-fx-cursor: hand;
}

.sign-up-button:hover
{
	-fx-text-fill: darkblue;
}